<%-include('partials/header')  %>
<%-include('partials/navbar')  %>

    

    <!-- Formulario para crear publicaciones -->
    <div class="container">
        <div class="row col-md-5 mx-auto">
        
        </div>
    </div>




<script src="/js/home.js"></script>

  <%-include('partials/footer')  %>